<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>bienvenue sur la page d'accueil</h1>

<p>
<%= link_to "Se connecter", new_user_session_path %> 
</p>

<p>
<%= link_to "voir les evènements", events_path %> 
</p>

<p>
<%= link_to "participer", attendances_path %> 
</p>

<p>
<%= link_to "la communauté", users_path %> 
</p>
